.container {
    padding: 1rem 0;
    width: 410px;
    flex: 1;
}

.interContainer {
    overflow-y: auto;
    height: 99%;
    border-radius: 12px;
    background-color: #F4F6F8;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Search {
    display: flex;
    border-bottom: 1px solid #DEE1E6;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 1rem;

}

.mail {
    padding: 0.5rem;
}