.userListBox {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: start;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 4px;
}

.userListBox>img {
    margin-right: 30px;
}

.userListBox:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}