.container {
    Width: 100%;
    Height: 47px;
    Width: 365px;
}

.text {
    Width: 365px;
    Height: 47px;
    border-radius: 10px;
    background-color: #E4E8EE;
    outline: none;
    border: 0px solid;
    padding-left: 16px;
    font-size: 16px;
}

.text::placeholder {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding-left: 18px;
    color: #A6ADC1;
}

.img {
    position: relative;
    left: 332px;
    top: -32px;
    cursor: pointer;
}